{{#if this.modals.count}}
  <div
    class="epm-backdrop"
    tabindex="-1"
    role="presentation"
    aria-hidden="true"
  ></div>
{{/if}}

{{#each this.modals._stack as |modal|}}
  <EpmModal @modal={{modal}} />
{{/each}}